<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_First>
            <version>0.0.1</version>
        </Itdelight_First>
    </modules>
    <global>
        <blocks>
            <first_lesson3>
                <class>Itdelight_First_Block</class>
            </first_lesson3>
        </blocks>
        <models>
            <first_lesson3>
                <class>Itdelight_First_Model</class>
            </first_lesson3>
        </models>
        <helpers>
            <first_lesson3>
                <class>Itdelight_First_Helper</class>
            </first_lesson3>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">Itdelight_First_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
     <frontend>
        <layout>
            <updates>
                <first_lesson3>
                    <file>local.xml</file>
                </first_lesson3>
            </updates>
        </layout>
        <routers>
            <first_lesson3>
                <use>standard</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first</frontName>
                </args>
            </first_lesson3>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firstconfig_options>
                                            <title>Store Hello World Module Section</title>
                                        </firstconfig_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>