<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_First>
            <version>0.0.1</version>
        </Itdelight_First>
    </modules>
    <global>
        <blocks>
            <itdelight_first>
                <class>Itdelight_First_Block</class>
            </itdelight_first>
        </blocks>
        <models>
            <itdelight_first>
                <class>Itdelight_First_Model</class>
            </itdelight_first>
        </models>
        <helpers>
            <itdelight_first>
                <class>Itdelight_First_Helper</class>
            </itdelight_first>
        </helpers>
    </global>
<!--    <admin>
        <routers>
            <adminhtml>
                <args>
                    <module>
                        <Itdelight_First before="Mage_Adminhtml">Itdelight_First_Adminhtml</Itdelight_First>
                    </module>
                </args>
            </adminhtml>
        </routers>
    </admin>-->
    <admin>
        <routers>
            <itdelight_first>
                <use>admin</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first_admin</frontName>
                </args>
            </itdelight_first>
        </routers>
    </admin>
     <frontend>
        <routers>
            <itdelight_first>
                <use>standard</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first</frontName>
                </args>
            </itdelight_first>
        </routers>
         <layout>
             <updates>
                 <itdelight_first>
                     <file>itdelight_first.xml</file>
                 </itdelight_first>
             </updates>
         </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firstconfig_options>
                                            <title>Store Hello World Module Section</title>
                                        </firstconfig_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>